.cart {
  margin-bottom: 20px;
  &-inner {
    padding: 30px 20px;
    text-align: center;
  }
  &-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 8px;
    color: #292929;
  }
  &-image {
    margin-right: 12px;
    img {
      max-width: 100%;
      max-height: 100%;
      width: 60px;
      height: 60px;
    }
  }
  &-item {
    &-name {
      display: block;
      color: #333333;
      text-decoration: none;
      font-size: 14px;
      transition: 0.2s all linear;
      &:hover {
        color: #51aa1b;
      }
    }
    &-quantity {
      font-size: 12px;
      text-align: left;
    }
    &-remove {
      color: #ccc;
      svg {
        border-radius: 100%;
        padding: 3px;
        transition: 0.2s linear all;
        border: 2px solid #ccc;
        &:hover {
          color: black;
          border: 2px solid black;
        }
      }
    }
  }
  &-price {
    color: #51aa1b;
    font-weight: 500;
  }
  &-total {
    padding: 10px 0;
    font-weight: bold;
    font-size: 13px;
    color: #333333;
    font-weight: 700;
    border-top: 1px solid #ececec;
    border-bottom: 2px solid #ececec;
    margin-bottom: 0.5em;
  }
  &-buttons {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    a {
      margin-bottom: 10px;
    }
  }
  &-form {
    &-image img {
      width: 78px;
      height: 78px;
    }
  }
}

.btn--primary {
  background-color: #51aa1b;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  display: block;
  letter-spacing: 0.39;
  transition: 0.2s all linear;
  &:hover {
    background-color: #418816;
  }
}

@media only screen and (max-width: 600px) {
  .cart-form-data {
    display: none !important;
  }
}
