.MuiSpeedDial-directionDown > button {
    background-color: #428b16;
    border: none;
}

.MuiSpeedDial-directionDown > button:hover {
    background-color: #428b16;
}

.css-118zhtq-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
    border-radius: 0 !important;
    box-shadow: none !important;
}